*{
    margin: 0;
    padding: 0;
}

body{
  /* animation: changeBG 10s 3s infinite; */
  background: #F5EEE6;
}

.header{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.header h1{
    font-size: 1.2rem;
    text-align: left;
    font-family: 'Azeret Mono';
    margin-left: 5%;
    /* animation: changeFS 10s infinite; */
}

/* MOBILE MENU */
.topnav{
  display: flex;
  background-color: #CBDCD1;
  font-family: 'Azeret Mono';
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 0.8rem;
  padding-top: 4%;
  border: 1px solid #000000;
  border-radius: 20px;
  margin-left: 3.5%;
  margin-right: 3.5%;
}

.item{
  width: 100px;
  height: 30px;
  background: #CBDCD1;
  margin: 1vw;
}

.topnav a{
  text-decoration: none;
  color: black;
}

/* .topnav a:hover{
  color: #6a5e84;
} */
/* MOBILE Menu */

.flex-img{
    display: flex;
    width: 100vw;
    height: 147vh;
    background: #F5EEE6;
    margin-top: 1%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* animation-name: changeBG;
    animation-duration: 10s;
    animation-iteration-count: infinite; */
}

.img-holder1{
    width: 85vw;
    height: 100vw;
    max-width: 400px;
    max-height: 400px;
    background-color: #24272C;
    border-radius: 150px;
    border: 1px solid #000000;
    margin: 5%;
}

.img-holder2{
  width: 85vw;
  height: 100vw;
  max-width: 400px;
  max-height: 400px;
  background-color: #CEB7FF;
  border-radius: 150px;
  border: 1px solid #000000;
  margin: 5%;
}

.img-holder3{
  width: 85vw;
  height: 100vw;
  max-width: 400px;
  max-height: 400px;
  background-color: #5E6855;
  border-radius: 150px;
  border: 1px solid #000000;
  margin: 5%;
}

.patterns-home p{
  text-align: center;
  color: white;
  font-family: 'Montserrat';
  font-size: 1.4rem;
  margin-top: 40%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  font-weight: 700;
}

.resources-home p{
  text-align: center;
  color: white;
  font-family: 'Montserrat';
  font-size: 1.4rem;
  margin-top: 40%;
  margin-right: 2.6%;
  margin-left: 2.6%;
  font-weight: 700;
}

.explore-button{
  text-align: center;
}

.explore-button button{
  font-size: 1rem;
  padding: 0.65rem 1rem;
  color: #000000;
  font-family: 'Montserrat';
  padding-top: 4%;
  border: 1px solid #000000;
  border-radius: 40px;
  background-color: #CEB7FF;
}

.resources-button{
  text-align: center;
}

.resources-button button{
  font-size: 1rem;
  padding: 0.65rem 1rem;
  color: #000000;
  font-family: 'Montserrat';
  padding-top: 4%;
  border: 1px solid #000000;
  border-radius: 40px;
  background-color: #CBDCD1;
}

.plus-button{
  text-align: center;
}

.plus-button button{
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  color: white;
  font-family: 'Montserrat';
  font-weight: 900;
  padding-top: 3%;
  border: 1px solid #000000;
  border-radius: 40px;
  background-color: #5E6855;
  margin-top: 40%;
  margin-left: 50%;
}

.designerOTM-button{
  margin-top: 7%;
  margin-bottom: 15%;
  margin-left: 3%;
  margin-right: 3%;
}

.designerOTM-button p{
  text-align: left;
}

.designerOTM-button button{
  font-size: 1rem;
  padding: 1rem 1rem;
  color: #000000;
  font-family: 'Azeret Mono';
  padding-top: 4%;
  border: 1px solid #000000;
  border-radius: 40px;
  background-color: #CEB7FF;
  text-align: center;
}

.jessbio p{
  font-size: 1.2rem;
  font-family: 'Azeret Mono';
  padding: 6%;
  width: 80vw;
  height: 25vh;
}

.jessimg img{
  border: 1px solid #000000;
  border-radius: 40px;
  margin-left: 10%;
  margin-right: 5%;
  width: 80vw;
  height: 80vw;
}

.footer{
  margin-top: 5%;
  background-color: #5E6855;
  height: 40vw;
}

/* @keyframes changeBG {
  0% {background-color: hotpink;}
  25% {background-color: indigo;}
  50% {background-color: darkorange;}
  75% {background-color: darkred;}
  100% {background-color: hotpink;}
}

@keyframes changeFS {
  0% {font-size: 3rem;}
  25% {font-size: 2.5rem;}
  50% {font-size: 2rem;}
  75% {font-size: 1.5rem;}
  100% {font-size: 1rem;}
} */

/*********** DESKTOP VERSION ***********/
@media screen and (width >=1366px){

    /* how to slightly increase overall text size in media quiry */
    html{
        font-size: 150%; 
    }

  .flex-img{
    background: #F5EEE6;
  }

  .header{
    margin-top: 5%;
    margin-bottom: 2%;
  }

  .header h1{
    font-size: 2rem;
  }

  .flex-img{
    margin-top: 5%;
  }

  .next-button {
    margin-bottom: 5%;
  }

  /* LAPTOP MENUUUU */
  .topnav{
   padding-top: 1%;
   padding-bottom: 0.5%;
   margin-left: 3%;
   margin-right: 3%;
   border-radius: 50px;
   border: 1px solid #000000;
  }

  .item{
    width: 180px;
    height: 30px;
    background: #CBDCD1;
    margin: 1vw;
  }

  .topnav a{
    text-decoration: none;
    color: black;
  }

  .topnav a:hover{
    color: white;
    background-color: #5E6855; padding: 10% 20%; border-radius: 50px;
    text-decoration: none;
    animation: changemenuhoverC 2s;
  }

  @keyframes changemenuhoverC{
    0% {background-color: #CBDCD1;}
    100% {background-color: #5E6855;}
  }
  /* LAPTOP MENUUUU */

  .flex-img{
    display: flex;
    width: 100vw;
    height: 70vh;
    background: #F5EEE6;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.5%;
    /* animation-name: changeBG;
    animation-duration: 10s;
    animation-iteration-count: infinite; */
  } 

  .img-holder1{
    width: 340vw;
    height: 50vw;
    max-width: 400px;
    max-height: 500px;
    background-color: #24272C;
    border-radius: 200px;
    border: 1px solid #000000;
    margin: 0.1%;
  }

  .img-holder2{
    width: 340vw;
    height: 50vw;
    max-width: 400px;
    max-height: 500px;
    background-color: #CEB7FF;
    border-radius: 200px;
    border: 1px solid #000000;
    margin: 0.1%;
  }

  .img-holder3{
    width: 340vw;
    height: 50vw;
    max-width: 400px;
    max-height: 500px;
    background-color: #5E6855;
    border-radius: 200px;
    border: 1px solid #000000;
    margin: 0.1%;
  }

  .patterns-home p{
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    font-size: 1.4rem;
    margin-top: 40%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    font-weight: 700;
  }

  .resources-home p{
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    font-size: 1.4rem;
    margin-top: 40%;
    margin-right: 2.6%;
    margin-left: 2.6%;
    font-weight: 700;
  }

  .flex-img2{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start
    width 100vw;
    height: 70vh;
  }

  .designerOTM-button{
    margin-top: 1%;
    margin-bottom: 15%;
    text-align: center;
  }
  
  .designerOTM-button button{
    font-size: 1rem;
    padding: 0.6rem 1rem;
    color: #000000;
    font-family: 'Azeret Mono';
    padding-top: 2%;
    margin-top: 1%;
    border: 1px solid #000000;
    border-radius: 40px;
    background-color: #CEB7FF;
    margin-bottom: 0%;

  }

  .jessbio p{
    font-size: 1.4rem;
    font-family: 'Azeret Mono';
    padding: 6%;
    width: 50vw;
    height: 60vh;
  }

  .jessimg{
    width: 35vw;
    height: 35vw;
  }

  .jessimg img{
    border: 1px solid #000000;
    border-radius: 40px;
    margin-left: 5%;
    width: 35vw;
    height: 35vw;
  }
  
/*******HOVER ANIMATE BUTTON LAPTOP************/
  .explore-button button:hover{
    text-decoration: none;
    padding: 0.75rem 1.10rem;
    margin-top: 3%;
    padding: 0.65rem 1rem;
    /* animation: changeexplorehoverC 1s; */
    animation: movemarginT 1.5s;
    background-color: #F5EEE6;
  }

  .plus-button button:hover{
    text-decoration: none;
    margin-top: 43%;
    /* animation: changeplushoverC 1s; */
    animation: movemarginplusT 1.5s;
    background-color: black;
  }

  .resources-button button:hover{
    text-decoration: none;
    padding: 0.75rem 1.10rem;
    margin-top: 3%;
    padding: 0.65rem 1rem;
    /* animation: changeresouceshoverC 1s; */
    animation: movemarginT 1.5s;
    background-color: #F5EEE6;
  }
  
  @keyframes movemarginT{
    0% {margin-top: 0%;}
    100% {margin-top: 3%;}
    }

  @keyframes movemarginplusT{
    0% {margin-top: 40%;}
    100% {margin-top: 43%;}
  }

  .footer{
      margin-top: 1%;
      background-color: #5E6855;
      height: 10vw;
  }
/*******HOVER ANIMATE BUTTON LAPTOP************/


/*******HOVER ANIMATE BUTTON LAPTOP************/
  /* @keyframes changeexplorehoverC{
    0% {background-color: rgb(223, 204, 236);}
    100% {background-color: #F5EEE6}
  }

  @keyframes changeplushoverC{
    0% {background-color: #5E6855;}
    100% {background-color: black;}
  }

  @keyframes changeresouceshoverC{
    0% {background-color: #CBDCD1;}
    100% {background-color: #F5EEE6;}
  } */
/*******HOVER ANIMATE BUTTON LAPTOP************/

  /* @keyframes changeimgBG {
    0% {background-color: greenyellow;}
    25% {background-color: blue;}
    50% {background-color: blueviolet}
    75% {background-color: palevioletred;}
    100% {background-color: greenyellow;}
  } */