*{
    margin: 0;
    padding: 0;
}

body{
  /* animation: changeBG 10s 3s infinite; */
  background: #F5EEE6;
}

.header{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.header h1{
    font-size: 1.2rem;
    text-align: left;
    font-family: 'Azeret Mono';
    margin-left: 5%;
    /* animation: changeFS 10s infinite; */
}

/* MOBILE MENU */
.topnav{
  display: flex;
  background-color: #CBDCD1;
  font-family: 'Azeret Mono';
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 0.8rem;
  padding-top: 4%;
  border: 1px solid #000000;
  border-radius: 20px;
  margin-left: 3.5%;
  margin-right: 3.5%;
}

.item{
  width: 100px;
  height: 30px;
  max-width: 400px;
  max-height: 400px;
  background: #CBDCD1;
  margin: 1vw;
}

.topnav a{
  text-decoration: none;
  color: black;
}

/* .topnav a:hover{
  color: #6a5e84;
} */
/* MOBILE Menu */

.flex-img{
    display: flex;
    width: 100vw;
    height: 147vh;
    background: #F5EEE6;
    margin-top: 1%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* animation-name: changeBG;
    animation-duration: 10s;
    animation-iteration-count: infinite; */
}

.img-holder1{
    width: 85vw;
    height: 100vw;
    max-width: 400px;
    max-height: 400px;
    background-color: #24272C;
    border-radius: 150px;
    border: 1px solid #000000;
    margin: 5%;
}

.img-holder2{
  width: 85vw;
  height: 112vw;
  max-width: 400px;
  max-height: 500px;
}

.img2a{
  font-size: 0.9rem;
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
  padding: 0.5rem 1rem;
  color: white;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 900;
  padding-top: 3%;
  border: 1px solid #000000;
  border-radius: 40px;
  background-color: #24272C;
}

.img2a a{
  text-decoration: none;
  color: white;
}

.img-holder2 img{
  width: 80vw;
  height: 100vw;
  max-width: 400px;
  max-height: 500px;
  border-radius: 200px;
  border: 1px solid #000000;
  margin-left: 3%;
}

.img-holder3{
  width: 85vw;
  height: 100vw;
  max-width: 400px;
  max-height: 400px;
  background-color: #5E6855;
  border-radius: 150px;
  border: 1px solid #000000;
  margin: 5%;
}

.patterns-home p{
  text-align: center;
  color: white;
  font-family: 'Montserrat';
  font-size: 1.4rem;
  margin-top: 40%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  font-weight: 700;
}

.resources-home p{
  text-align: center;
  color: white;
  font-family: 'Montserrat';
  font-size: 1.4rem;
  margin-top: 40%;
  margin-right: 2.6%;
  margin-left: 2.6%;
  font-weight: 700;
}

.explore-button{
  text-align: center;
}

.explore-button button{
  font-size: 1rem;
  padding: 0.65rem 1rem;
  color: #000000;
  font-family: 'Montserrat';
  padding-top: 4%;
  border: 1px solid #000000;
  border-radius: 40px;
  background-color: #CEB7FF;
}

.resources-button{
  text-align: center;
}

.resources-button button{
  font-size: 1rem;
  padding: 0.65rem 1rem;
  color: #000000;
  font-family: 'Montserrat';
  padding-top: 4%;
  border: 1px solid #000000;
  border-radius: 40px;
  background-color: #CBDCD1;
}

/* .plus-button{
  text-align: center;
}

.plus-button button{
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  color: white;
  font-family: 'Montserrat';
  font-weight: 900;
  padding-top: 3%;
  border: 1px solid #000000;
  border-radius: 40px;
  background-color: #5E6855;
  margin-top: 40%;
  margin-left: 50%;
} */

.designerOTM-button{
  margin-top: 7%;
  margin-bottom: 15%;
  margin-left: 3%;
  margin-right: 3%;
}

.designerOTM-button p{
  text-align: left;
}

.designerOTM-button button{
  font-size: 1rem;
  padding: 1rem 1rem;
  color: #000000;
  font-family: 'Azeret Mono';
  padding-top: 4%;
  border: 1px solid #000000;
  border-radius: 40px;
  background-color: #CEB7FF;
  text-align: center;
}

.jessbio p{
  font-size: 1.1rem;
  font-family: 'Azeret Mono';
  padding: 6%;
  width: 85vw;
  height: 27vh;
}

.jessimg img{
  border: 1px solid #000000;
  border-radius: 40px;
  margin-left: 10%;
  margin-right: 5%;
  width: 80vw;
  height: 80vw;
  margin-bottom: 5%;
}

/***********************ABOUT MOBILE PAGE*********/
  .flex-img-about{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start
    width 300vw;
    height: 130vh;
  }

  .patternsimg{
    max-width: 400px;
    max-height: 400px;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 91vw;
    height: 60vw;
  }

  .patternsimg img{
    border: 1px solid #000000;
    border-radius: 40px;
    margin-left: 5%;
    width: 91vw;
    height: 60vw;
  }

  .abouttext{
    max-width: 400px;
    max-height: 800px;
    margin-top: 1%;
    margin-bottom: 20%;
  }

  .abouttext h2{
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 1.8rem;
    font-style: italic;
    margin-left: 6%;
  }

  .abouttext h1{
    font-family: 'Montserrat';
    font-size: 2.5rem;
    font-style: italic;
    margin-left: 6%;
    margin-bottom: 5%;
  }

  .aboutinfo p{
    font-size: 1rem;
    font-family: 'Azeret Mono';
    width: 84vw;
    height: 75vh;
    padding: 5%;
    text-align: left;
    background-color: #CEB7FF;
    border: 1px solid #000000;
    border-radius: 40px;
    margin-left: 2.5%;
    margin-right: 5%;
  }
  

/***********************ABOUT MOBILE PAGE*********/


/******MOBILE FOOTER************/
.footer-flex{
  padding-top: 5%;
  margin-top: 1%;
  background-color: #5E6855;
  height: 50vw;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quick-links-flex{
  display: flex;
  font-family: 'Azeret Mono';
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 0.8rem;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 5%;
  max-width: 400px;
  max-height: 400px;
}

.quick-links-flex a{
  color: #CBDCD1;
}

.item2{
  width: 160px;
  height: 20px;
  margin: 1vw;
  max-width: 400px;
  max-height: 400px;
}

.title p{
  font-size: 0.9rem;
  text-align: left;
  font-family: 'Azeret Mono';
  margin-left: 5%;
  color: white;
  width: 50vw;
  padding-left: 5%;
}

.instagram{
  width: 50vw;
  max-width: 400px;
  max-height: 400px;
}

.instagram img{
  width: 8vw;
  height: 8vw;
  margin-left: 70%;
}


/******MOBILE FOOTER************/

/* @keyframes changeBG {
  0% {background-color: hotpink;}
  25% {background-color: indigo;}
  50% {background-color: darkorange;}
  75% {background-color: darkred;}
  100% {background-color: hotpink;}
}

@keyframes changeFS {
  0% {font-size: 3rem;}
  25% {font-size: 2.5rem;}
  50% {font-size: 2rem;}
  75% {font-size: 1.5rem;}
  100% {font-size: 1rem;}
} */

/*********** DESKTOP VERSION ***********/
@media screen and (width >=1366px){

    /* how to slightly increase overall text size in media quiry */
    html{
        font-size: 150%; 
    }

  .flex-img{
    background: #F5EEE6;
  }

  .header{
    margin-top: 5%;
    margin-bottom: 2%;
  }

  .header h1{
    font-size: 2rem;
  }

  .flex-img{
    margin-top: 5%;
  }

  /* LAPTOP MENUUUU */
  .topnav{
   padding-top: 1%;
   padding-bottom: 0.5%;
   margin-left: 3%;
   margin-right: 3%;
   border-radius: 50px;
   border: 1px solid #000000;
  }

  .item{
    width: 180px;
    height: 30px;
    background: #CBDCD1;
    margin: 1vw;
  }

  .topnav a{
    text-decoration: none;
    color: black;
  }

  .topnav a:hover{
    color: white;
    background-color: #5E6855; padding: 10% 20%; border-radius: 50px;
    text-decoration: none;
    animation: changemenuhoverC 0.5s;
  }

  @keyframes changemenuhoverC{
    0% {background-color: #CBDCD1;}
    100% {background-color: #5E6855;}
  }
  /* LAPTOP MENUUUU */

  .img2a{
    display: none;
  }

  .flex-img{
    display: flex;
    width: 100vw;
    height: 70vh;
    background: #F5EEE6;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.5%;
    /* animation-name: changeBG;
    animation-duration: 10s;
    animation-iteration-count: infinite; */
  } 

  .img-holder1{
    width: 340vw;
    height: 50vw;
    max-width: 400px;
    max-height: 500px;
    background-color: #24272C;
    border-radius: 200px;
    border: 1px solid #000000;
    margin: 0.1%;
  }

  .img-holder2{
    width: 340vw;
    height: 50vw;
    max-width: 400px;
    max-height: 500px;
  }

  .img-holder2 img{
    width: 340vw;
    height: 50vw;
    max-width: 400px;
    max-height: 500px;
    border-radius: 200px;
    border: 1px solid #000000;
  }

  .img-holder3{
    width: 340vw;
    height: 50vw;
    max-width: 400px;
    max-height: 500px;
    background-color: #5E6855;
    border-radius: 200px;
    border: 1px solid #000000;
    margin: 0.1%;
  }

  .patterns-home p{
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    font-size: 1.4rem;
    margin-top: 40%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    font-weight: 700;
  }

  .resources-home p{
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    font-size: 1.4rem;
    margin-top: 40%;
    margin-right: 2.6%;
    margin-left: 2.6%;
    font-weight: 700;
  }

  /***********************ABOUT LAPTOP PAGE*********/
  .flex-img-about{
    margin-top: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 240vh;
    margin-top: 0%;
    justify-content:flex-start
  }

  .patternsimg{
    width: 71vw;
    height: 40vw;
    margin-left: 12%;
    margin-bottom: 5%;
    margin-top: 1%;
    max-width: 900px;
    max-height: 400px;
  }

  .patternsimg img{
    border: 1px solid #000000;
    border-bottom-right-radius:  40px;
    border-bottom-left-radius:  40px;
    border-top-right-radius:  200px;
    border-top-left-radius:  200px;
    margin-left: 5%;
    width: 71vw;
    height: 40vw;
  }

  .abouttext h1{
    text-align: left;
    font-size: 2.7rem;
  }

  .abouttext h2{
    text-align: left;
    font-size: 2.5rem;
  }

  .abouttext{
    margin-left: 10.5%;
    margin-top: 10%;
    margin-bottom: 0%;
    text-align: center;
    max-width: 900px;
    max-height: 2000px;
  }

  .aboutinfo p{
    font-size: 1.3rem;
    font-family: 'Azeret Mono';
    padding: 6%;
    width: 70vw;
    height: 95vh;
    text-align: left;
  }

  

  /***********************ABOUT LAPTOP PAGE*********/

  .flex-img2{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start
    width 100vw;
    height: 70vh;
  }

  .designerOTM-button{
    margin-top: 1%;
    margin-bottom: 15%;
    text-align: center;
    max-width: 900px;
    max-height: 500px;
  }
  
  .designerOTM-button button{
    font-size: 1rem;
    padding: 0.6rem 1rem;
    color: #000000;
    font-family: 'Azeret Mono';
    padding-top: 2%;
    margin-top: 1%;
    border: 1px solid #000000;
    border-radius: 40px;
    background-color: #CEB7FF;
    margin-bottom: 0%;

  }

  .jessbio p{
    font-size: 1.3rem;
    font-family: 'Azeret Mono';
    padding: 6%;
    width: 50vw;
    height: 60vh;
  }

  .jessimg{
    width: 35vw;
    height: 35vw;
    max-width: 900px;
    max-height: 500px;
  }

  .jessimg img{
    border: 1px solid #000000;
    border-radius: 40px;
    margin-left: 5%;
    width: 35vw;
    height: 35vw;
  }
  
/*******HOVER ANIMATE BUTTON LAPTOP************/
  .explore-button button:hover{
    text-decoration: none;
    padding: 0.75rem 1.10rem;
    margin-top: 3%;
    padding: 0.65rem 1rem;
    /* animation: changeexplorehoverC 1s; */
    animation: movemarginT 0.5s;
    background-color: #F5EEE6;
  }
/* 
  .plus-button button:hover{
    text-decoration: none;
    margin-top: 43%;
    /* animation: changeplushoverC 1s; */
    /* animation: movemarginplusT 1.5s;
    background-color: black; */
  /* } */

  .resources-button button:hover{
    text-decoration: none;
    padding: 0.75rem 1.10rem;
    margin-top: 3%;
    padding: 0.65rem 1rem;
    /* animation: changeresouceshoverC 1s; */
    animation: movemarginT 0.5s;
    background-color: #F5EEE6;
  }

  .img-holder2 img:hover{
    animation: changeimgBS 0.5s;
    border: 5px solid;
  }

  .jessimg img:hover{
    animation: changeimgBS 0.5s;
    border: 5px solid;
  }

  @keyframes movemarginT{
    0% {margin-top: 0%;}
    100% {margin-top: 3%;}
  }

  @keyframes changeimgBS{
    0% {border: 1px solid;}
    100% {border: 5px solid;}
  }

  /* @keyframes movemarginplusT{
    0% {margin-top: 40%;}
    100% {margin-top: 43%;}
  } */

/*******FOOTER DESKTOP*********************/

  .footer-flex{
    padding-top: 2%;
    margin-top: 1%;
    background-color: #5E6855;
    height: 15vw;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2%;
  }

  .quick-links-flex{
    display: flex;
    font-family: 'Azeret Mono';
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 0.8rem;
    margin-left: 3.5%;
    width: 95vw;
    max-width: 700px;
    max-height: 15px;
  }

  .quick-links-flex a{
    text-decoration: none;
    color: #CBDCD1;
  }

  .quick-links-flex a:hover{
    color: #000000;
    animation: changefooterC 1s;
  }

  @keyframes changefooterC{
    0% {color: #CBDCD1;}
    100% {color: black;}
  }

  .item2{
    width: 180px;
    height: 20px;
    margin: 1vw;
    max-width: 900px;
    max-height: 500px;
  }

  .title p{
    font-size: 1.1rem;
    text-align: left;
    font-family: 'Azeret Mono';
    margin-left: 5%;
    color: white;
    width: 50vw;
    padding-left: 5%;
    margin-bottom: 4%;
  }

  .instagram{
    width: 50vw;
    max-width: 900px;
    max-height: 500px;
  }

  .instagram img{
    width: 3vw;
    height: 3vw;
    margin-left: 85%;
  }
}